
.yenile {
    background-color: #27464e;
    flex: 3%;
    margin: auto;
    width: 22px;
    background-image: url("../../img/merkezle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: white;
}