@import '~antd/dist/antd.css';

.bottom.left-column {
    flex: 25%;
}

.bottom.content-column {
    text-align: left;
    flex: 22.5%;
}

.bottom.center-column {
    flex: 5%;
    background-image: url("../../img/Akinci-2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.bottom.right-column {
    flex: 42.5%;
}

.bottom.time-column {
    text-align: center;
    flex: 5%;
    align-self: flex-end;
}

.bottom.parent {
    background-color: #1b1c1c;
    height: 5vh;
    color: white;
    display: flex;
    border-top: 2px solid black;
}
