@import '~antd/dist/antd.css';

:root {
    --heigt: 91vh;
}

.content.left-column {
    flex: 35%;
    text-align: left;
    text-indent: 1vh;
    border-right: black;
    border-right: 5px solid black;
    height: var(--heigt);
    display: flex;
    flex-direction: column;
}

.content.left-column-icon {
    flex: 20%;
    background-image: url("../../img/Akinci-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content.left-column-job {
    flex: 15%;
    text-align: left;
    text-indent: 1vh;
    border-right: black;
    /*border-right: 5px solid black;*/
    height: var(--heigt);
}

.content.left-column-skop {
    /*flex: 45%;*/
    flex: 60%;
}

.googleMap {
    height: 100%;
    width: 100%;
}

.content.main-column {
    display: contents;
    overflow: hidden;
}

.content.main-column-a {
    text-align: left;
    flex: 65%;
    height: var(--heigt);
    /*display: contents;*/
}

.content.parent {
    max-height: var(--heigt);
    font-family: "Comic Sans MS";
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
}
